<div class="row">
    {% for n in newest %}
        <div class="article-box clearfix excerpt-1">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/newest-{{n.id}}.html" title="{{n.title}}" target="_blank">
                        <img src="/media/{{n.img}}" alt="{{n.title}}" class="wp-post-image" width="240" height="160"/>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <h2>
                    <a href="/newest-{{n.id}}.html" target="_blank" title="{{n.title}}">
                        {{n.title}}
                    </a>
                </h2>
                <p class="txtcont hidden-xs">
                    <a href="/newest-{{n.id}}.html" target="_blank" title="{{n.title}}">{{ n.excerpt }}</a>
                </p>
                <div class="meta">
                    <time class="item">
                        <i class="fa fa-clock-o"></i>{{ n.create_time|date:"Y年m月d日"}}
                    </time>
                </div>
            </div>
        </div>
    {% endfor %}
</div>